{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


   <form method="POST" action="" autocomplete="off" enctype="multipart/form-data">
           {% csrf_token %}
        <div class="row">
         <div class="col-md-6">
            {{ form.first_name|as_crispy_field}}
         </div>
         <div class="col-md-6">
            {{ form.last_name|as_crispy_field}}
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            {{ form.emp_id|as_crispy_field}}
         </div>
         <div class="col-md-6">
            {{ form.department|as_crispy_field}}
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            {{ form.email|as_crispy_field}}
         </div>
         <div class="col-md-6">
            {{ form.number|as_crispy_field}}
         </div>
      </div>
         <div class="row">
         <div class="col-md-6">
            {{ form.position|as_crispy_field}}
         </div>
         <div class="col-md-6">
            {{ form.typeofwork|as_crispy_field}}
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            {{ form.resume_file|as_crispy_field}}
         </div>
      </div>
      <div class="row">
         <div class="col-md-8">
             <button type="submit" class="btn btn-success w-100"><i class="fa fa-database"></i>>Submit</button>
         </div>
         <div class="col-md-2">
            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block-btn-lg d-block">
               <i class=" fa fa-arrow-left" ></i>Back to list
            </a>
         </div>

      </div>

   </form>

{% endblock content %}