<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Brandless</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

     <form action="register" method="post" id="registration_form" >
         {% csrf_token %}

    <div class="main">


        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form   class="signup-form">


                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="first_name"  placeholder="Your FirstName"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="last_name"  placeholder="Your LastName"/>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-input" name="email"  placeholder="Your Email"/>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-input" name="username"  placeholder="Enter UserName" id="username"/>
                             
                        </div>


                        <div class="form-group">
                            <input type="text" class="form-input" name="password1"  placeholder="Password"/>
                            <span class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password2" placeholder="Repeat your password"/></div>

<!--                        <div class="form-group">-->
<!--                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />-->
<!--                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>-->
<!--                        </div>-->
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>

                                {% if messages %}
                                   {% for message in messages %}
                                      {% if message.tags %} <script>alert("{{ message }}")</script> {% endif %}
                                   {% endfor %}
                                {% endif %}


                    <p class="loginhere">
                        Have already an account ? <a href="{% url 'login' %}" class="loginhere-link">Login here</a>
                    </p>

             </div>
            </div>
        </section>
    </div>
     </form>



    <!-- JS -->
     {% block javascript %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script >
     $("#username").keyup(function () {
    var username = $(this).val();
    var thisObject = this

    $.ajax({
        url: "{% url 'validate_username' %}",
        dataType: 'json',
        data: {
            "username": username
        },
        success: function (data) {
            $(thisObject).nextAll().remove();
            if (data.is_taken) {
                $(thisObject).after("<b style='color: red; '>&emsp;" + data.error_message + "</b>");
            }
        }
    })
});
     </script>

       <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
       <script src="{% static 'js/main.js' %}"></script>
<!--       <script src="{% static 'login/js/main.js' %}"></script> another ajax method-->

      {% endblock javascript %}

</body>
</html>


